
body{
    text-align: center;
}

#container{
    margin-top: 10px;
    text-align: left;
    margin-left: 500px;
}

.image{
    height: 250px;
}

button{
    font-size: 15px;
    margin-left: 5px;
}

button:hover{
  background-color: gainsboro;
}
